.container{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: row;
    border-bottom: 2px double grey;
    width: 600px;
}
.divka{
    width: 200px;
    margin-top: 10px;
}
.dSpan{
    font-weight: bold;
}
.removeB{
    background-color: rgb(206, 103, 103);
    color: white;
}
.divkaCh{
    margin-top: 15px;
}
.counter{
    display: none;
}