.container{
    width: 80%;
    margin: auto;
}
.header{
    display: flex;
    background-color: green;
    font-size: large;
    padding: 10px;
    color: white;
    margin-left: 30px;
    /*margin-right: 30px;*/
    text-decoration: none;
}

.logo{
    width: 75%;
    margin-left:15px;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
}
.menu{
    width: 35%;
    display: flex;
    flex-direction: row;
}
.header a{
    color: white;
}
.menu a{
    padding-right: 15px;
    margin-right: 0px;
    text-decoration: none;
}
.form{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
}
.btn{
    margin-top: 10px;
    background-color: rgb(1, 1, 73);
    color: white;
    height: 30px;
}
.divps{
    padding-top: 10px;
}
.inp{
    width: 200px;
}
.country{
    width: 210px;
    height: 22px;
}
.dateI{
    width: 205px;
    height: 22px;
}
.sbold{
    font-weight: bold;
}
.divOne{
    display: flex;
    flex-direction: row;
}
.divHome{
    padding-left: 50px;
}

.byGoods{
    padding-top: 20px;
}
.buyButton{
    background-color: indigo;
    color: white;
    font-weight: bold;
}
.goods{ 
    width: 400px;
    border: 1px double gray;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
    padding-left: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
}
.addButton{
    margin-top: 5px;
    background-color: green;
    color: white;
}
.goodsSt{
    font-weight: bold;
}
.dBasket{
    margin-top: 50px;
}
.bBusket{
    margin-left: 30px;
    width: 70px;
    height: 30px;
    background-color: indigo;
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: row;
    border-bottom: 2px double grey;
    width: 600px;
    margin-left: 30px;
}
.divka{
    width: 200px;
    margin-top: 10px;
}
.dSpan{
    font-weight: bold;
}
.removeB{
    background-color: rgb(206, 103, 103);
    color: white;
}
.divkaCh{
    margin-top: 15px;
}
.counter{
    display: none;
}
.goToGoods{
    padding-top: 30px;
    padding-left: 150px;
}